.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/*
*/build/*
*.iml

app/libs/keymanager-debug.aar

push/google-services.json
keymanager/src/*/assets/keys.json 
keymanager/src/*/res/values/keys.xml