.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/*
*/build/*
*.iml

push/google-services.json
keymanager/src/main/assets/keys.json 
keymanager/src/*/res/values/keys.xml